
/*FONTS*/




/*DEFAULTS*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
a {
    text-decoration: none;
}
p, h1, h2, h6, li, h5, h3 {
    margin: 0;
    line-height: 1.35em;
    color:#fff;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
h6 {
    font-size: 14px;
    font-weight: 300;
}
h2 {
   font-size: 35px; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.75em;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 2em;
}
.light-blue {
    background-color: #4D91CD;
}
.royal-blue {
    background-color: #264A92;
}
.green {
    background-color:#b0c936;
}
.orange {
    background: url(/assets/img/contct_background.jpg);
    background-position: center;
}
.green h2,
.orange h2{
    line-height: 1.1em;
}
.wrapper {
    width:90%;
    max-width: 800px;
}
.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.italic {
    font-style: italic;
    font-weight:100;
}
button.cta.large {
    background-color: #F8971D;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    width: 250px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Roboto Condensed', sans-serif;
}
button.cta.large.blue {
    background-color: #4D91CD;
    width: 200px;
}


/*SPANS*/
span.pipe {
    padding-left: 7px;
    padding-right: 7px;
    color:rgba(255, 255, 255, 0.8);
}

h5.quotes {
    font-size: 38px !important;
    color:#fff;
    font-family: 'Droid Serif';
    font-style: italic;
    line-height: 1em;
    width: 100%;
    margin: 0 auto;
}
h5.quotes.left {
    text-align: left;
    margin-bottom: -30px;
}
h5.quotes.right {
    text-align: right;
    margin-top: -40px;
}

/*TOP BAR*/
.top_bar {
    background-color:#264A92;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
        position: fixed;
    z-index: 99;
    width: 100%;
    top:0;
}



/*HERO*/
.hero {
    height: 400px;
    background-size:cover;
    background-position: center;
    position:relative;
    text-align: center;
    margin-top: 40px;
}
.hero .logo {
    position: absolute;
    bottom: -51.5px;
    left: 0;
    right: 0;
    margin: auto;
}


/*SECTION ONE*/
.section_one {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.section_top {
    padding-top: 60px;
}

.section_one p {
    width: 70%;
    margin: 0 auto;
}
.button_row {
    display: inline-block;
    width: 49%;
    max-width: 300px;
    text-align: center;
}
.bullets {
    max-width: 500px;
    margin: 0 auto;
}
.bullets ul {
    column-count: 2;
    margin-left: 80px;
}
.bullets ul li {
    letter-spacing: 0.5px;
    text-align: left;
    width: 200px;
    margin-left: 20px;
/*    position: relative;*/
}
.bullets ul li:before {
    content:url(/assets/img/checkmark.png);
/*    position: absolute;*/
    margin-left: -25px;
}

.press_icons {
    height: 180px;
    overflow: hidden;
}
.press_logos .press {
    display: inline-block;
    vertical-align: middle;
/*    width: 33%;*/
}
.press_logos .press img {
    width: 90%;
}
.press_logos .press img.serta {
    width: 60%;
}


/*SECTION TWO*/
.section_two {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.section_two p {
    width: 90%;
    margin: 0 auto;
    font-family: 'Droid Serif';
    font-weight: 100;
    font-size:16px;
    -webkit-font-smoothing: antialiased;
}
.review_slider {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}
.review_slider .review {
    max-width: 500px !important;
    margin: 0 auto;
    float: left;
    padding: 0 40px;
    padding-top: 10px;
    background:url(/assets/img/reviews.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 65%;
}
.rating  {
    padding-bottom: 20px;
}
.rating img {
    display: inline-block;
    vertical-align: middle;
}
.rating img.yelp {
    width: 80px;
}
.rating img.stars {
    width: 140px;
}
.slick-dots {
    position: relative !important;
    bottom: 0 !important;
}
.slick-dots li button:before {
    font-size: 16px !important;
    opacity: 1 !important;
    color: #fff !important;
}
.slick-dots li.slick-active button:before {
    color:#F8971D !important;
    
}

.press.icons{
    border-right:2px dashed #fff;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    vertical-align: top;
}
.press.icons p {
    width: 100%;
    font-weight: 700;
}
.press.icons p span.thin{
    font-weight: 300;
}
.press.icons.no-icon {
    border-right:0;
    padding: 10px;
}
.press.icons.no-icon img {
    margin-bottom: 5px;
    width: 70%;
}
.orange {
    position: relative;
}
.orange h3,
.orange p{
    font-weight: 700 !important;
}
.orange .wrapper {
    max-width: 800px;
}
.section_one.orange p {
    width: 100%;
}
.orange .left_side {
    width:70%;
    float: left;
    text-align: left;
    overflow: hidden;
}
.orange .left_side p {
    font-weight: 500;
    margin-bottom: 10px;
}
.orange .left_side ul {
    width: 50%;
    float: left;
}
.orange .left_side ul li {
    margin: 0 auto;
}
.orange .right_side {
    width:30%;
    float: left;
}
.orange .map{
        position: absolute;
    bottom: -25px;
    right: 14%;
    margin: auto;
}
.orange .map img {
    width: 250px;
}


.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer .wrapper {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
.footer p {
    font-size: 12px;
    font-weight: 300;
    color:#000;
}
.footer .wrapper {
    overflow: hidden;
}
.footer .left_side {
    width: 70%;
    float: left;
}
.left_side p a {
    color:#fff;
    border-bottom: 1px solid #fff;
}
.footer .right_side {
    width: 30%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}
.footer .right_side p {
    text-align: right;
}
.footer .right_side p a {
    color:#4D91CD;
    text-decoration: none;
}


.hero.mobile {
    display: none;
}
.hero.desktop {
    display: block;
}
    .mobile {
        display: none;
    }



/*RESPONSIVE*/
@media screen and (max-width:700px) {
    .top_bar {
        display: none;
    }
    .hero.mobile {
    display: block;
        height: 183px;
}
.hero.desktop {
    display: none;
}
    .desktop {
        display: none;
    }
    
    .hero .logo img {
        max-width: 300px;
        margin: 0 auto;
        
    }
    h2 {
        font-size: 20px;
        font-weight: 700;
    }
    p {
        font-size: 13px;
        letter-spacing: 0.25px;
    }
    .section_one p {width: 100%;}
    .bullets ul li {
        font-size: 11px;
        width: auto;
    }
    .bullets ul {
        margin-left: 24px;
    }
    .spacer {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    button.cta.large {
        width: 150px;
        font-size: 12px;
        letter-spacing: 0;
    }
    .press_logos .press {
        width: 28%;
    }
    .review_slider .review {
        background-size: 97%;
        background-position: center;
    }
    .section_two p {
        width: 90%;
        font-size: 12px;
    }
    .press_icons {
        height: auto;
    }
    .press.icons {
        margin-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .press.icons p {
        font-size: 12px;
    }
    h3.desktop,
    div.desktop{
        display: none;
    }
    .mobile {
        display: block;
    }
    .orange .left_side {
        float: none;
        width: 100%;
    }
        .section_one {
        padding-bottom: 20px;
    }
    .orange {
        padding-bottom: 100px;
    }
    .orange .map {

    right: 0;
        left: 0;
        text-align: center;

}
    .orange .left_side p {
        text-align: center;
    }
    .orange .left_side ul li p {
        text-align: left;
    }
    .orange .map img {
        width: 200px;
    }
    .footer {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .footer .left_side,
    .footer .right_side{
        width: 100%;
        text-align: center;
        float: none;
    }
    button.cta.large.blue {
        width: 150px;
    }
    .button_row.mobile {
        display: inline-block;
    }
    .bullets ul li:before {
        content: url(/assets/img/checkmark_mobile.png);
    margin-left: -5px;
    }
    .bullets ul li {
        margin-left: 15px;
    }
        body {
          overflow:scroll;
            overflow-x: hidden;
            
-webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
    }
    .review_slider .review {
        max-width: 100% !important;
        background-size: contain;
        background: none;
        padding: 0 10px;
    }
    .hero {
        margin-top: 0;
    }

}