body {font-family: 'Roboto', sans-serif; color: white;}
p {
    letter-spacing: 0.25px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}
li {
    letter-spacing: 0.25px;
}
body h1, button {font-family: 'Roboto Condensed', sans-serif; font-weight: 700;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}
a {color: white; text-decoration: none;}
button a:link {
    border-bottom: 0;
}
a:link {color: white; border-bottom: 1px solid white;}

.h1, h1 {font-size: 2.2rem;}

.bar {background-color: #274a93; font-size: 13px;white-space: nowrap;overflow: hidden;}
.bar p {
    height:38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.desktop_view {
    display: block;
}
.mobile_view {
    display: none;
}
.banner img {width: 100%; margin-top: -20px;}

button {border-radius: 7px; border: none; font-size: 1.45rem; white-space: nowrap;
padding: 5px;
}

section {text-align: center; padding-top: 20px;}

section:not(.banner){
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-1 .topRow { padding-top: 55px;}

.section-1 .craigsLogo {
    POSITION: absolute;
    top: -64px;
    left: 400px;
}

.section-1, .section-3  {background-color: #4f91cd;}

.section-1 ul {
    list-style-type: none; 
    columns: 2; -webkit-columns: 2; -moz-columns: 2;
}


.section-1 ul li {
    display: inline-flex;
    width: 100%;
    white-space: nowrap;
}

.section-1 ul li img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.section-1 button {
    background-color: #f9871d;
    color: white;
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
}
.
.section-1 svg {width: 15%; margin-bottom: -10px;}
.col-lg-6.modified {
    max-width: 100%;
}
.row.modified {
    margin-top: 10px;
}
.review-icons-row {
    padding-top: 25px;
    padding-bottom: 40px;
}
.review-icons svg {
    max-width: 177px;
    display: inline-block;
    vertical-align: middle;
}
.review-icons img {
    display: inline-block;
    vertical-align: middle;
}

.section-2 {
    background-color: #274a93;
}

/* .carousel-inner img {
    width: 100%;
    height: 100%;
} */
.carousel-inner {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
.carousel {
    margin-top: 40px;
}
.carousel p {
    font-style: italic;
}
.carousel img {
    display: inline-block;
    vertical-align: middle;
}
.carousel img.yelp {
    width: 100px;
}
.carousel img.stars {
    width: 140px;
}
.carousel svg {width: 3%;}

.carousel-indicators .active{background-color: transparent;}
.carousel-indicators li{background-color: transparent;}
.carousel a:link {border-bottom: none;}
p.reviewer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header_title {
    margin-bottom: 20px;
}

/* .section-3 svg {width: 25%;} */

.section-3 #_x3C_Layer_x3E_{width: 20%; margin-left: -2%;}
.section-3 #Layer_1{width: 11%; margin-left: 7%;}
.section-3 #section_3_img{margin-top: -8%; margin-left: 7%;}

.section-4 {
    background-color: #b0c936; 
}

.section-4 figure {width: 22%; height: 166.38px; float: left; margin-left: 11%;}
.section-4 figcaption {font-weight: bold;}
.section-4 #section_4_img2 {border-left: dashed 2px white; margin-left: 30px; padding-left: 30px;}
.section-4 #section_4_img3 {border-left: dashed 2px white; margin-left: 30px;}

.section-5 {
    background: url('../img/contct_background.jpg');
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.section-5 button {
    background-color: #4f91cd;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.section-5 .mapImage {
    position: absolute;
    top: 49%;
    left: 10%;
}

.section-5 .col-lg-5 {
    text-align: left;
}

.section-5 .col-lg-5, .section-5 .col-lg-4 {
    margin: 0 auto;
}

.section-5 .col-lg-5 {
    margin-left: 10%;
}

.section-5 .col-lg-4 {
    margin-right: 10%;
}

.section-5 .col-lg-5 ul{
    text-align: left;
    padding: 0px;
}

footer {
    color: black;
    padding-top: 60px;
    padding-bottom: 25px;
}

footer .col-lg-2, footer .col-lg-3 {
    margin: 0 auto;
}

footer .footerImg {margin-left: 20%; margin-top: -10px;}

footer .footerP {margin-left: 20%;}

/* Media Queries */

@media only screen and (max-width : 1199px) {
    .section-1 button {width: 260px;}    
    .section-1 .craigsLogo {left: 315px;}

    .section-4 figure {width: 30%; margin-left: 0%;}

    .section-5 .mapImage{left:0%;}
}

@media only screen and (max-width : 991px) {
    .section-1 .craigsLogo {left: 195px;}
    .section-1 svg {width: 20%;}

    .carousel img {width: 12%;margin-top: -8px;}

    .section-3 #_x3C_Layer_x3E_{width: 22%; margin-left: 2%;}
    .section-3 #Layer_1{width: 12%;}

    .section-4 figure {width: 32%; margin-left: -5%;}

    .section-5 #desktopView{display: none;}
    .section-5 #mobileView{display: block !important;}
    .section-5 #mobileCTA {display: none;}
    .section-5 {padding-bottom: 130px;}
    .section-5 .mapImage {top: 112%; left: 29%;}
    .section-5 button {width: 40%; margin-left: 15px; margin-right: 15px;}
    .section-5 ul{text-align: left; margin-left: 13%;}

    footer .footerImg {margin-left: 37%; margin-top: 20px;}
    footer .footerP {margin-left: 30%; margin-top: 2%;}
}

@media only screen and (max-width : 767px) {
    .banner img{
/*        height: 160px;*/
/*        width: 109%;*/
/*        margin-left: -36px;*/
    }
        h4#mobileCTA {
        display: none !important;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 8%;
        top:-50px;
    }
    .banner img {
        
    }
    h1 { font-size: 1.3rem;}

    .section-1 button {width: 33%;font-size: 1rem;}

    .section-3 #_x3C_Layer_x3E_{margin-left: 0%;}
    .section-3 #section_3_img{width: 28%;}

    .section-4 figure {width: 20%; margin-left: 5%}
    .section-4 figure img {width: 100px; height: 100px;}
    .section-4 figure figcaption {width: 100px; height: 100px;}
    .section-4 #section_4_img3{margin-left: 50px; padding-left: 30px;}
    .section-4 #section_4_img2{margin-left: 45px; padding-left: 30px; margin-right: 5px;}
    .section-4 #section_4_img2 span{font-size: 10px;}

    .section-5 ul{ margin-left: 5%;}
    .section-5 button{font-size: 17px; white-space: nowrap}
    .section-5 .mapImage {left: 22%;}

    footer .footerImg {margin-left: 33%;}
    footer .footerP {margin-left: 22%;}
}

@media only screen and (max-width : 519px) {
    .section-1 button {width: 40%;}
    .section-1 svg {width: 33%;}
    .section-1 .review-icons img {width: 32%;}
    .section-1 .review-icons #yelp_icon {float: left;}

    .section-4 {padding-bottom: 100px;}
    .section-4 figure {width: 80px; height: 80px;  text-align: center;
    
    }
    .section-4 figure img {width: 80px; height: 80px;}
    .section-4 figure figcaption {width: 80px; height: auto;
    line-height: 1.2;
        font-size: 13px;
    }
    
    .section-5 button{font-size: 12px; padding-top: 5px; padding-bottom: 5px; white-space: nowrap;}
    .section-5 .mapImage {left: 19%;}
    .bar {
        display: none;
    }
    .section-1 ul {
        padding: 0;
        padding-left:50px; 
    }
    .section-1 .topRow {
        padding-top: 0;
    }
    .col-lg-12,
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .section-1 ul li {
        white-space: normal;
        margin-bottom: 5px;
        font-size: 0.9em;
    }
        dl, ol, ul {
        margin-bottom: 0;
    }
        section:not(.banner) {
        padding-bottom: 0;
    }
    .section-1 button {
        width: 38%;
        font-size: 0.9rem;
        float: none;
        margin-left: 2%;
        margin-right: 2%;
        display: inline-block;
    }
    .review-icons-row {
    padding-top: 12px;
    padding-bottom: 12px;
}
    .review-icons {
        width: 90%;
        margin: 0 auto;
        max-width: 400px;
    }
    .section-1 .review-icons img,
    .section-1 .review-icons svg {
            width: 22%;
    margin-left: 3%;
    margin-right: 3%;
    }
        .section-1 ul li img {
        width: 10px;
        height: 10px;
    }
        .section-1 p {
            font-size: 0.9em;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    }
    .col-lg-6.modified,
    .col-lg-12.modified{
        padding-left: 0;
        padding-right: 0;
        
    }
    .row {
        margin-left: auto;
        margin-right: auto;
    }
/*
    .section-1 ul, .section-5 ul {
            columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    }
*/
}

@media only screen and (max-width : 505px) {
    .section-1 ul{font-size: 15px;}
}

@media only screen and (max-width : 505px) {
    .section-1 ul{font-size: 13px;}
}
@media only screen and (max-width : 475px) {
    footer .footerP{ margin-left: 20%;}
}

@media only screen and (max-width : 437px) {
 
    .section-1 button, .section-5 button{
        
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 44%;
        float:none;
        display: inline-block;
    }
    .section-5 ul {
        padding-left: 0;
    }
    
    .section-1 .review-icons img {width: 29%;}

    .carousel img {width: 15%;}

    .section-4 figure {margin-left: 0%;}

    .section-5 .mapImage {left: 12%;}

    footer .footerImg {margin-left: 27%;}
    footer .footerP {margin-left: 15%;}
}

@media only screen and (max-width : 422px) {
    .section-1 ul{font-size: 12px;}
    .section-4 figure {
        margin-bottom: 30px;
        
    }
    
}

@media only screen and (max-width : 400px) {
    .section-4 figure {width: 60px; margin-left: 6%;}
    .section-4 #section_4_img2{margin-left: 42px; padding-left: 16px; margin-right: 5px;}
    .section-4 #section_4_img3{margin-left: 60px; padding-left: 15px;}

    .section-5 ul{ margin-left: 0%;}
    .section-5 button{font-size: 10px;}
    .section-5 .mapImage {
        left: 0;
        right: 0;
        margin: auto;
        top:102%;
        width: 150px;
    }
}

@media only screen and (max-width : 395px) {
    .section-1 ul{font-size: 12px; margin-left: -15px;}
}

@media only screen and (max-width : 375px) {
    .bar {font-size: 5px; padding-top: 0px; padding-bottom: 5px; white-space: nowrap;}

    .section-1 button {font-size: 13px;}
    .section-1 ul{font-size: 12px; margin-left: -24px;}

    .section-4 figure {width: 50px;}
    .section-4 #section_4_img2{margin-left: 42px; padding-left: 16px; margin-right: 5px;}
    .section-4 #section_4_img3{margin-left: 60px; padding-left: 15px;}
}

@media only screen and (max-width : 360px) {
    .banner img { background: url('../img/bannerimage_mobile.jpg') no-repeat center center; background-size: contain }

    /* .section-1 .craigsLogo {left: 20px;} */
    .section-1 button {font-size: 12px;}
}



@media only screen and (max-width : 519px)  {
    .section-1 .review-icons #yelp_icon {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .section-1 button {
        margin-left: 10px;
        margin-right: 10px;
    }
    p.reviewer {
        margin-bottom: 0;
    }
    .carousel img.yelp {
        width: 70px;
    }
    .carousel img.stars {
        width: 100px;
    }
    
    .carousel {
        margin-top: 10px;
    }
    .section-2 {
        padding-top: 15px !important;
    }
    .carousel p {
        font-size: 16px;
        font-family: Times New Roman;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .section-4 figure figcaption {
        font-size: 11px;
    }
    .desktop_view {
        display: none;
    }
    .mobile_view {
        display: block;
    }
        .section-1 .craigsLogo {
     width: 65%;
    top: -90px;
    left: 0;
    right: 0;
    margin: auto;
    }
}


span.big {
    font-size: 34px;
}
span.big.top {
    position: absolute;
    left:0;
    top:-10px;
}
span.big.bottom {
    position: absolute;
    right:0;
}
.carousel-inner {
    width: 90%;
}
.section-3,
.section-4,
.section-5{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.section-5 {
    padding-bottom: 40px !important;
}

.section-4 figure img {
    height: 70px;
    width: auto;
}
.section-5 ul {
    width: 85%;
    margin: 0 auto 20px;
}
.section-5 ul li {
    font-size: 12px;
}
.section-5 button {
    font-size: 0.70rem;
/*    white-space: normal;*/
}
.section-1 ul {
    margin-bottom: 10px;
}
.section-4 figure {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 32.3%;
}
.section-4 figure figcaption {
    width: 100%;
}
.section-1 ul {
    padding-left: 80px;
}
body {
  overflow-x: hidden;
}

.clear {
    clear: both;
}
.section-5 ul  {
    width: 50%;
    float: left;
}
.section-5 ul li {
    width: 71%;
    margin: 0 auto;
    list-style: none;
    
    
}



/*YELP ONLY STYLES*/
.section-1, .section-4.new {
    background-color: #274a93;
}
.section-3 {
    background-color: #4f91cd;
}







